*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.summerBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
summer-test/test-output/
.gradle
argfile*
activemq-data/

/build
buildSrc/build
/summer-*/build
/src/asciidoc/build
target/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache